{% extends "base.html" %}
 
{% block content %}
        <figure id="banner">
            <img src="/media/blogheader.jpg" alt="For The Crown Banner" width="100%" height="20%">
        </figure>

            <div id="post" class="col-md-9 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div id="postDetail" class="col-xs-9">
                        {% if post.image %}
                            <img src="/media/{{ post.image}}">
                        {% endif %}
                        <p>{{ post.content|linebreaks }}</p>
                        <p><button class="btn btn-primary" 
                    onclick="location.href='/blog'">Back to Blog</button> </p>
                        <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

